.App {
  text-align: center;
  background: -webkit-linear-gradient(360deg, #38aecc 10%, #347fb9 360%);
  background: -moz-linear-gradient(360deg, #38aecc 10%, #347fb9 360%);
  background: linear-gradient(360deg, #38aecc 10%, #347fb9 360%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-family: "Shadows Into Light", cursive;
}

.loader {
  text-align: center;
  padding-top: 10px;
  color: white;
}

.quote {
  font-family: "Courgette", cursive;
}

.author {
  font-family: "Coming Soon", cursive;
}
